QPushButton
{
    width:24px;
    height:24px;
    color: transparent;
	background-color: transparent;
	border-image: url(:/images/main/button_24_0_2.png);
}

QPushButton:hover
{
	border-image: url(:/images/main/button_24_0_1.png);
}

QPushButton:checked
{
	border-image: url(:/images/main/button_24_0_0.png);
}